[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Type=Link
Name=TestingTutorials
URL=http://neverstopbuilding.com/interests/testing
[InternetShortcut]
URL=http://neverstopbuilding.com/interests/testing